body {
  background-color: #eaf6f6;
}

hr {
  border-style: none none dotted;
  border-width: thick;
  border-color: #66bfbf;
  width: 50px;
}

hr:hover {border-color: #f76b8a;}

h1 {
  color: #66bfbf;
  word-spacing: 4px;
  letter-spacing: 4px;
}

h1:hover {color: #f76b8a;}

h3 {
  color: #66bfbf;
  text-transform: uppercase;
}

h3:hover {color: #f76b8a;}

h4 {
  color: #66bfbf;
  text-transform: capitalize;
}

h4:hover {color: #f76b8a;}
